<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS  -->
<link href="../style.css" rel="stylesheet" type="text/css" />
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<title>Alterna Radio FM 88.1 MHZ</title>
<link rel="icon" type="image/x-icon" href="../favicon.png">
</head>
<body class="program-page" style="background-color:#0f0f0f; text-align:center">

<div class="container">
<div class="flyer program-select-container" data-program-select="veo">
<h2>Voz en Off</h2>
<p>Voz en Off es un programa de música en vivo, sin repetición. Solo en ocasiones fue grabado, por lo que no tenemos todas las emisiones, pero sí algunas:</p>
<div class="program-links">
<p><a href="#veo/veo10-01-25">10/01/2025 (Alterna Radio)</a></p>
<p><a href="#veo/veo20-12-24">20/12/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo13-12-24">13/12/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo06-12-24">06/12/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo29-11-24">29/11/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo21-11-24">21/11/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo5-10-24">5/10/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo7-6-24">7/6/2024 (Alterna Radio - Volver al Futuro)</a></p>
<p><a href="#veo/veo31-5-24">31/5/2024 (Alterna Radio)</a></p>
<p><a href="#veo/veo12-5-23">12/5/2023 (FM Rockola)</a></p>
<p><a href="#veo/veo14-7-23">14/7/2023 (FM Rockola)</a></p>
</div>
<div style="text-align: center; margin-top: 30px;">
<img src="../img/veo.png" width="400" height="600" alt="" style="display: block; margin: 0 auto;">
</div>
</div>
</div>

<script src="../program-select.js"></script>
</body>
</html>

