<div style="background-color: #000000; width: 100%; min-height: 100vh; margin: 0; padding: 0;">
<div class="contacto-container" style="background-color: #000000; padding: 60px 20px 60px; margin: 0;">
	<h2>Contacto</h2>
	<p>Comunicate con nosotros:</p>
	<div class="contacto-icons">
		<a href="https://www.instagram.com/alternaradio.ar" target="_blank"><img src="../img/ig.png" width="50" alt="Instagram"></a>
		<a href="https://wa.me/+5492235306555" target="_blank"><img src="../img/wp.png" width="50" alt="WhatsApp"></a>
		<a href="https://t.me/alternamedia" target="_blank"><img src="../img/tg.png" width="50" alt="Telegram"></a>
	</div>
</div>
</div>

