<div class="container main-container">
<div class="flyer">
<!-- <img src="img/asa.jpeg" alt="Arte sin Aduanas - Viernes 22 hs."> -->
<!-- <a href="voz_en_off/veo.html"><img src="img/veo.png" class="main-image" alt="Voz en Off - Viernes 20 hs."></a> -->
    <a href=""><img src="img/dwm.png" class="main-image" alt=""></a>
</div>
<div class="flyer">
    <a href="#ies"><img src="img/ies.png" class="main-image" alt=""></a>
    <!-- <a href="#hr"><img src="img/hr.png" class="main-image" alt=""></a> -->
<!--<a href="https://tvalterna.ar" target="_blank"><img src="miraAlternaTVx4.png" alt="MIRÁ ALTERNATV"></a>-->
</div>
</div>
<div class="container">
<div class="flyer">

</div>
</div>
<div style="text-align: center; padding-top: 20px">
</div>
