<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS  -->
<link href="../style.css" rel="stylesheet" type="text/css" />
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<title>Alterna Radio FM 88.1 MHZ</title>
<link rel="icon" type="image/x-icon" href="../favicon.png">
</head>
<body class="program-page" style="background-color:#0f0f0f; text-align: center;">

<div class="container">
<div class="flyer program-select-container" data-program-select="hr">
<h2>Humana Resistencia</h2>
<div class="program-links">
<p><a href="#hr/hr15">15 - 31/05/2024</a></p>
<p><a href="#hr/hr14">14</a></p>
<p><a href="#hr/hr13">13</a></p>
<p><a href="#hr/hr12">12</a></p>
<p><a href="#hr/hr11">11</a></p>
<p><a href="#hr/hr10">10</a></p>
<p><a href="#hr/hr9">9</a></p>
<p><a href="#hr/hr8">8</a></p>
<p><a href="#hr/hr7">7</a></p>
<p><a href="#hr/hr6">6</a></p>
<p><a href="#hr/hr5">5</a></p>
<p><a href="#hr/hr4">4</a></p>
<p><a href="#hr/hr3">3</a></p>
<p><a href="#hr/hr2">2</a></p>
<p><a href="#hr/hr1">1</a></p>
</div>
<div style="text-align: center; margin-top: 30px;">
<img src="../img/hr.png" width="400" height="600" alt="" style="display: block; margin: 0 auto;">
</div>
</div>

</div>
<script src="../program-select.js"></script>
</body>
</html>

