<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS  -->
<link href="../style.css" rel="stylesheet" type="text/css" />
<link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
<title>Alterna Radio FM 88.1 MHZ</title>
<link rel="icon" type="image/x-icon" href="../favicon.png">
</head>
<body class="program-page" style="background-color:#272727; text-align: center;">
<div class="container">
<div class="flyer program-select-container" data-program-select="ies">
<h2>Informe Económico Semanal</h2>
<div class="program-links">
<p><a href="#ies/ies89">89 - "Estanflación, Si o No?"</a></p>
<p><a href="#ies/ies88">88 - "Carnaval de reformas"</a></p>
<p><a href="#ies/ies87">87 - "Acuerdo con EEUU: ¿Quién gana y quién pierde?"</a></p>
<p><a href="#ies/ies86">86 - "INDEC: Mentime que me gusta"</a></p>
<p><a href="#ies/ies85">85 - "Lo que brilla es oro"</a></p>
<p><a href="#ies/ies84">84 - "La concentración se agrava"</a></p>
<p><a href="#ies/ies83">83 - "Un acuerdo con luces y sombras - Gustavo Casciotti"</a></p>
<p><a href="#ies/ies82">82 - "Libertad o recursos naturales?"</a></p>
<p><a href="#ies/ies81">81 - "Saludo de Fin de Año"</a></p>
<p><a href="#ies/ies80">80 - "Una Reforma que Retrasa"</a></p>
<p><a href="#ies/ies79">79 - "Pobreza: Una Baja que no se Nota"</a></p>
<p><a href="#ies/ies78">78 - "Reconversión Importadora: de Ollas a Pilchas de Segunda Mano"</a></p>
<p><a href="#ies/ies77">77 - "Econimía real y megarescate: te la debo"</a></p>
<p><a href="#ies/ies76">76 - "Un Acuerdo Desigual"</a></p>
<p><a href="#ies/ies75">75 - "Industria: ¿Una Ventaja a Vencer?"</a></p>
<p><a href="#ies/ies74">74 - "Del Turismo Emisivo a los Dólares que se Escurren"</a></p>
<p><a href="#ies/ies73">73 - "Mientras los mercados celebran, la economía real espera"</a></p>
<p><a href="#ies/ies72">72 - "Un swap que no derrama"</a></p>
<p><a href="#ies/ies71">71 - "Endeudamiento: un común denominador"</a></p>
<p><a href="#ies/ies70">70 - "Estrategias Desesperadas"</a></p>
<p><a href="#ies/ies69">69 - "Turismo Nacional en Riesgo"</a></p>
<p><a href="#ies/ies68">68 - "Régimen Cambiario Bajo Presión"</a></p>
<p><a href="#ies/ies67">67 - "Un Discurso Vacío y Devaluado"</a></p>
<p><a href="#ies/ies66">66 - "Reseteando expectativas"</a></p>
<p><a href="#ies/ies65">65 - "Día de la industria, Un recuerdo solo serás"</a></p>
<p><a href="#ies/ies64">64 - "Ingresos deteriorados, Consumo resentido"</a></p>
<p><a href="#ies/ies63">63 - "Tasas por el Aire, Economía sin Aliento"</a></p>
<p><a href="#ies/ies62">62 - "Un discurso desacoplado e infeliz"</a></p>
<p><a href="#ies/ies61">61 - "Delizamiento del dólar y traslado a precios"</a></p>
<p><a href="#ies/ies60">60 - "Crisis Textil: La Contracara de la Fiebre Importadora"</a></p>
<p><a href="#ies/ies59">59 - "En Clave de Fuga"</a></p>
<p><a href="#ies/ies58">58 - "Qué hay detrás del 1,6 de inflación"</a></p>
<p><a href="#ies/ies57">57 - "Día de las Cooperativas - Hay motivos para festejar"</a></p>
<p><a href="#ies/ies56">56 - "Oxfam: desigualdad extrema. ¿Y por casa cómo andamos?"</a></p>
<p><a href="#ies/ies55">55 - "El Falso Latiguillo de lo Importado"</a></p>
<p><a href="#ies/ies54">54 - "No Hay Quien Empuje al Empleo"</a></p>
<p><a href="#ies/ies53">53 - "Consumo Fragmentado"</a></p>
<p><a href="#ies/ies52">52 - "Seguimos Acumulando Rojos"</a></p>
<p><a href="#ies/ies51">51 - "Mejor lo de Afuera"</a></p>
<p><a href="#ies/ies50">50 - "Análisis del 2,8 de Inflación"</a></p>
<p><a href="#ies/ies49">49 - "Peruanización de la Economía: Chau Clase Media"</a></p>
<p><a href="#ies/ies48">48 - "Dolarizar con los del colchón"</a></p>
<p><a href="#ies/ies47">47 - "Día del Trabajador: Sin Nada que Festejar"</a></p>
<p><a href="#ies/ies46">46 - "Tipo de Cambio Bicicletero"</a></p>
<p><a href="#ies/ies45">45 - "Un Cepo a la Economía Real"</a></p>
<p><a href="#ies/ies44">44 - "Aranceles UP: Llovido Sobre Mojado"</a></p>
<p><a href="#ies/ies43">43 - "Las Inconsistencias de una Pobreza a la Baja"</a></p>
<p><a href="#ies/ies42">42 - "Penando por Guita Fresca"</a></p>
<p><a href="#ies/ies41">41 - "24 de Marzo: Una Película que se Repite"</a></p>
<p><a href="#ies/ies40">40 - "Más Inflación, Menos Consumo"</a></p>
<p><a href="#ies/ies39">39</a></p>
<p><a href="#ies/ies38">38 - "Intervenir para Seguir Especulando"</a></p>
<p><a href="#ies/ies37">37 - "Balanza Comercial en Alerta"</a></p>
<p><a href="#ies/ies36">36 - "La Confianza Estafada"</a></p>
<p><a href="#ies/ies35">35 - "Incertidumbre e Impacto en la Guerra Comercial"</a></p>
<p><a href="#ies/ies34">34 - "Provocación deliberada para tapar lo inocultable?"</a></p>
<p><a href="#ies/ies33">33 - "Baja de retenciones: una zanahoria muy cara"</a></p>
<p><a href="#ies/ies32">32 - "De EE.UU. a Davos: El Saqueo Continúa"</a></p>
<p><a href="#ies/ies31">31- "Inflación: Un Porcentaje con Compromisos y Expectativas"</a></p>
<p><a href="#ies/ies30">30 - "De Contrastes y Desigualdades" </a></p>
<p><a href="#ies/ies29">29 - "Balance 2024 parte 2"</a></p>
<p><a href="#ies/ies28">28 - "Balance 2024 parte 1"</a></p>
<p><a href="#ies/ies27">27</a></p>
<p><a href="#ies/ies26">26</a></p>
<p><a href="#ies/ies25">25</a></p>
<p><a href="#ies/ies24">24</a></p>
<p><a href="#ies/ies23">23</a></p>
<p><a href="#ies/ies22">22</a></p>
<p><a href="#ies/ies21">21</a></p>
<p><a href="#ies/ies20">20</a></p>
<p><a href="#ies/ies19">19</a></p>
<p><a href="#ies/ies18">18</a></p>
<p><a href="#ies/ies17">17</a></p>
<p><a href="#ies/ies16">16</a></p>
<p><a href="#ies/ies15">15</a></p>
<p><a href="#ies/ies14">14</a></p>
<p><a href="#ies/ies13">13</a></p>
<p><a href="#ies/ies12">12</a></p>
<p><a href="#ies/ies11">11</a></p>
<p><a href="#ies/ies10">10</a></p>
<p><a href="#ies/ies9">9</a></p>
<p><a href="#ies/ies8">8</a></p>
<p><a href="#ies/ies7">7</a></p>
<p><a href="#ies/ies6">6</a></p>
<p><a href="#ies/ies5">5</a></p>
<p><a href="#ies/ies4">4</a></p>
<p><a href="#ies/ies3">3</a></p>
<p><a href="#ies/ies2">2</a></p>
<p><a href="#ies/ies1">1</a></p>
</div>
<div style="text-align: center; margin-top: 30px;">
<img src="../img/ies.png" width="400" height="600" alt="" style="display: block; margin: 0 auto;">
</div>
</div>
</div>
<script src="../program-select.js"></script>
</body>
</html>
